$primary: #9C27B0;
$primary-dark: #7B1FA2;
$primary-light: #E1BEE7;

$accent: #CDDC39;

$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

$text: #FFFFFF;

$fancy-font: 'Arima Madurai', cursive;