/*
  Global CSS file
*/
@import '~bootstrap/scss/bootstrap.scss';
// @import url('//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
// @import './bootstrap.css';
@import '~react-typist/dist/Typist.css';
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

body {
	color: $primary-text !important;
	background-color: $gray-lightest;
}

a, a:hover {
	cursor: pointer;
}

.social-icon:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

.social-svg:hover {
    .social-svg-mask {
        fill: $primary !important;
    }
}

.social-svg-mask {
    fill: $accent !important;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.tall {
	padding-top: 40px;
}

.top {
	z-index: 1000;
}

.fa-spin {
   color: $primary;
}

.list-item {
	margin: 0px;
	font-weight: normal;
}

.has-error {
	box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	border: 1px solid $accent;
	border-radius: 4px;
}

h3.card-header, h4.card-header {
	font-weight: 200;
}