/*
  Global CSS file
*/
@import '~bootstrap/scss/bootstrap.scss';
// @import url('//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
// @import './bootstrap.css';
@import '~react-typist/dist/Typist.css';
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

body {
	color: $primary-text !important;
	background-color: $gray-lightest;
}

a, a:hover {
	cursor: pointer;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.tall {
	padding-top: 40px;
}

.top {
	z-index: 1000;
}

.fa-spin {
   color: $primary;
}