/*
  Global CSS file
*/
@import url('~bootstrap/dist/css/bootstrap.css');
@import url('//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
// @import './bootstrap.css';
@import '~react-typist/dist/Typist.css';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

a, a:hover {
	cursor: pointer;
}

a:hover {
	color: $primary-dark;
}

a {
	color: $primary;
}

.vertical-align {
	display: flex;
	align-items: center;
}