.down-btn {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
  text-align: center;
  
  .down-txt {
    text-transform: uppercase;
    margin-bottom: -15px;
    font-weight: 200;
  }
  
  .down-clickable, .btn {
    color: $primary;
    
    &:hover {
      cursor: pointer;
      color: $primary-dark;
    }
  }
  
  &.light {
    
    .down-clickable, .btn {
      color: $primary-light;
      
      &:hover {
        color: $divider;
      }
    }
  }
  
  .btn {
    &:focus {
        box-shadow: none !important;
    }
    
  }
}