.static-background {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    margin-left: -1px;
    margin-top: -1px;
    background-attachment: fixed;
    filter : blur(1px);
    opacity : 0.4;
    z-index: -1;
}