$primary: #9C27B0;
$primary-dark: #7B1FA2;
$primary-darkest: #4A148C;
$primary-light: #E1BEE7;
$primary-lightest: #F3E5F5;

$accent: #03A9F4;
$accent-lightest: #E1F5FE;

$gray-lightest: #f5f5f5;

$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

$text: #FFFFFF;

$fancy-font: 'Arima Madurai', cursive;

$brand-primary: $primary;