.detail-tile {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-tile .panel-body {
    padding: 0px;
}

.detail {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.caption {
    font-size: 12px;
    margin: 0px;
    text-align: center;
}