.tiles {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    
    .detail-tile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
    }
    
    .detail-tile .panel-body {
        padding: 0px;
    }
    
    .detail {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: -5px 0 0 0;
        color: $accent;
    }
    
    .caption {
        font-size: 10px;
        margin: 0px;
        text-transform: uppercase;
    }
}