@import '~react-typist/dist/Typist.css';

.Typist {
  display: inline-block;
}

.wanttoText {
  font-size: 48px !important;
  margin-bottom: 40px;
}

.jumbo {
  margin-top: 50px;
}

.button-container {
  text-align: center;
}

.action-text {
  font-weight: 600;
}