@import "background";

.about {
    width: 100%;
    overflow: hidden;
    
    .dream {
        @extend .static-background;
        background-image: url(../../../../resources/dream.jpeg);
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        &.tall-section {
            min-height: 600px;
            padding-top: 20px;
        }
        
        .subtitle {
            font-size: 20px;
            margin-bottom: 30px;
        }
        
    }
    
    .steps {
        background-color: $text;
        color: $secondary-text;
        padding: 60px 20px 150px 20px;
        position: relative;
        
        .display-4 {
            text-align: center;
        }
        
        .step {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .step-icon {
                margin: 10px 0;
                color: $primary-dark;
            }
            
            .step-text {
                font-size: 16px;
                margin: 0 30px;
                color: $secondary-text;
            }
        }
        
        .step-number {
            border: 1px solid $primary-text;
            border-radius: 100px;
            width: 37.5px;
            margin-right: 10px;
            display: inline-block;
        }
        
        .steps-title {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            color: $primary-text;
            margin: 15px;
        }
    }
    
    .contact {
        text-align: center;
        padding: 20px;
        margin-top: -1px;
        background-color: $text;
        
        a {
            margin: 10px;
        }
    }
    
    .recent-section {
        position: relative;
        height: 100vh;
        
        &:before {
            @extend .dream;
            background-position: 35% 50%;
        }
        
        .list-cards {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow: hidden;
        }
        
        .button {
            margin-top: 20px;
        }
        
        .display-4 {
            color: $primary-dark;
            text-align: center;
        }
        
        .subtitle {
            text-align: center;
            margin-bottom: 50px;
            font-weight: 200;
        }
    }
    
    .what-is {
        position: relative;
        background-color: $primary-dark;
        color: $primary-light;
        text-align: center;
        height: 100vh;
        
        .what-is-title {
            padding: 20px;
            color: $text;
        }
    }
}