.header {
  background-color: white;
  
  &:not(.navbar-inverse) {
    border-bottom: 1px solid $divider;
    padding: 0px;
  }
  
  &.navbar-inverse {
    background-color: $primary-dark;
  }
  .container {
    padding-top: 0;
  }
}