.progress-percent {
    font-size: 20px !important;
    font-weight: bold;
    text-align: right !important;
    padding-right: 10px;
    float: right;
    line-height: 28px !important;
}

.progressive {
    .progress-bar {
        height: 30px;
    }
}