.wantto {
  input {
    padding-left: 0px;
  }
}

.bootstrap-typeahead-menu  {
  max-height: 150px !important;
  
  li {
    padding: 2px 5px;
    font-weight: normal;
    
    &:hover {
      background-color: $gray-lightest;
    }
  }
}

.bootstrap-typeahead-input-main, .wantto-input {
  font-size: 70px !important;
  font-weight: bold;
  height: auto !important;
  border: none !important;
  background-color: inherit !important;
  box-shadow: none !important;
  color: $primary-darkest !important;
}

.wantto-input::-webkit-input-placeholder,
.bootstrap-typeahead-input-main::-webkit-input-placeholder {
  font-weight: bold;
  color: $primary-dark !important;
  opacity: 0.25 !important;
}

.form-control.bootstrap-typeahead-input-hint {
  display: none !important;
}

.wantto-alert {
  margin-top: 40px;
}

.wantto-alert-buttons {
  text-align: right;
}

.wantto-form-container h1 {
  font-size: 70px;
  font-weight: bold;
  color: $primary-darkest;
}