$form-text-color: $text;

.wantto {
  text-align: right;
  
  input {
    padding-left: 0px;
  }
  
  .wantto-form-container {
    
    .form-group {
      margin-bottom: 0;
    }
    
    .card {
      background-color: $primary-dark;
      
      .card-text {
        margin-bottom: -40px;
        
        .btn {
          border: 3px solid $text;
        }
      }
    }
  }
}

.bootstrap-typeahead-menu  {
  max-height: 150px !important;
  
  li {
    padding: 2px 5px;
    font-weight: normal;
    
    &:hover {
      background-color: $gray-lightest;
    }
  }
}

.bootstrap-typeahead-input-main, .wantto-input {
  font-size: 5.5rem !important;
  font-weight: 300;
  line-height: 1.1 !important;
  height: auto !important;
  border: none !important;
  background-color: inherit !important;
  box-shadow: none !important;
  color: $form-text-color !important;
  text-align: right;
}

.wantto-input::-webkit-input-placeholder,
.bootstrap-typeahead-input-main::-webkit-input-placeholder {
  font-weight: 300;
  color: $form-text-color !important;
  opacity: 0.25 !important;
}

.form-control.bootstrap-typeahead-input-hint {
  display: none !important;
}

.wantto-alert {
  margin-top: 40px;
}

.wantto-alert-buttons {
  text-align: right;
}

.wantto-form-container h1 {
  color: $form-text-color;
}