.bootstrap-typeahead-input-main, .wantto-input {
  font-size: 56px !important;
  height: auto !important;
  border: none !important;
  background-color: inherit !important;
  box-shadow: none !important;
}

.bootstrap-typeahead-input-main {
  max-width: 350px;
}

.wantto-input {
  max-width: 250px;
}

.wantto-input::-webkit-input-placeholder,
.bootstrap-typeahead-input-main::-webkit-input-placeholder {
  text-align: center;
}

.form-control.bootstrap-typeahead-input-hint {
  display: none !important;
}

.wantto-form-button-container {
  text-align: right;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 0px !important;
}

.wantto-form-container {
  text-align: center;
}

.wantto-alert {
  margin-top: 40px;
}

.wantto-alert-buttons {
  text-align: right;
}

.wantto-form-container h1 {
  font-size: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}