.list-card {
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical; 
    }
    
    .card-subtitle {
        margin: 10px 0;
    }
    
    .progress {
        margin-bottom: 10px;
    }
}