.list-card {
    width: 356px;
    min-height: 200px;
    
    .card-block {
        cursor: pointer;
    }
    
    &.short {
        .card-text {
             -webkit-line-clamp: 3;
        }
        
        .card-header {
            font-weight: 200;
        }
    }
    
    &:hover {
        border-color: $accent;
    }
    
    .card-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical; 
    }
    
    .card-subtitle {
        margin: 10px 0;
    }
    
    .card-title {
        color: $primary-dark;
    }
    
    .progress {
        margin-bottom: 10px;
    }
}