.list-card {
    cursor: pointer;
    
    &:hover {
        border-color: $accent;
    }
    
    .card-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical; 
    }
    
    .card-subtitle {
        margin: 10px 0;
    }
    
    .card-title {
        color: $primary-dark;
    }
    
    .progress {
        margin-bottom: 10px;
    }
}