.list-detail-header {
    color: $text;
    padding: 15px 0;
    font-weight: normal;
}

.clone-list {
    text-align: right;
    color: $divider;
    margin-bottom: 0;
    
    a {
    	color: $accent !important;
    	font-weight: bold;
    	
    	&:hover {
        	text-decoration: underline !important;
        }
    }
}